/**
 * Inspired by:
 * 
 * - https://stripe.com/docs/api/node
 * - http://nsq.io/overview/design.html
 * 
 */
 
#documentation #sidebar {
  left: 0;
  top: 0;
  position: absolute;
  min-height: 100%;
  
  /** z-index: 75; **/
  width: 220px;
  background: #fafcfc;
  border-right: 1px solid #f0f4f7;
  
  overflow-y: auto;
  padding-left: 1.5rem;
}

#documentation #sidebar .header {
  font-family: "Special Elite";
  width: 220px;
  border-bottom: 1px solid #f0f4f7;
  height: 49px;
}

#documentation #sidebar .header #logo {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  font-size: 2.2rem;
  
  position: relative;
  top: 59%;
  transform: translateY(-50%);
}

#documentation .top-bar {
 height: 4.5rem;
}

#documentation #sidebar ul {
  margin: 0;
  padding: 0;
  line-height: 2.0rem;
  list-style: none;
}

#documentation #sidebar ul ul {
  margin-left: 1.5rem;
}

#documentation #sidebar li {
  list-style-type: none;
}

#documentation #sidebar a {
  color: #333;
  position: relative;
  display: block;
  padding: 5px 7px;
  text-decoration: none;
}

#documentation #sidebar li a:hover {
  background-color: #ebebeb;
}

#documentation #content {
  top: 0;
  left: 230px;
  position: absolute;
}

#documentation .narrative {
  /** width: 440px; **/
  /** background: red; **/
  min-height: 100%;
  background-color: white;
}

#documentation .code {
  display: block;
  min-height:  100%;
  background-color: #40464a;
  color: white;
  
  font-size: 1.6rem; 
  padding-left: 3rem;
  padding-right: 3rem;
}

#documentation .code pre {
  display: block;
  margin: 1rem 0 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: white;
  word-break: break-all;
  word-wrap: break-word;
  /** background-color: #2d3133; **/
  border: 0;
}

#documentation .row {
  background-color: #40464a;
}

/*
 * Typography
 */

html {
  min-height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  min-height: 100%;
  display: block;
} 

body {
  
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

a {
  color: #4DA7F5;
}

#documentation #sidebar p,
#documentation #sidebar li {
  font-size: 1.4rem;
  line-height: 1.8;
}

#documentation #sidebar {
  font-family: Verdana;
}

#documentation #sidebar h5 {
  color: #69c;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: block;
  margin: 1.8rem auto 1rem auto;
  padding: 0;
}