/**
 * Inspired by:
 * 
 * - https://stripe.com/docs/api/node
 * - http://nsq.io/overview/design.html
 * 
 */
 
#documentation #sidebar {
  left: 0;
  top: 0;
  position: absolute;
  min-height: 100%;
  
  /** z-index: 75; **/
  width: 220px;
  background-color: #fafcfc;
  border-right: 1px solid #f0f4f7;
  
  overflow-y: auto;
  padding-left: 1.5rem;
}

#documentation #sidebar .header {
  font-family: "Special Elite";
  width: 220px;
  border-bottom: 1px solid #f0f4f7;
  height: 49px;
}

#documentation #sidebar .header #logo {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  font-size: 2.2rem;
  
  position: relative;
  top: 59%;
  transform: translateY(-50%);
}

#documentation .top-bar {
 height: 4.5rem;
}

#documentation .top-bar .code, 
#documentation .top-bar .narrative {
  background-color: white!important;
}

#documentation #sidebar ul {
  margin: 0;
  padding: 0;
  line-height: 2.0rem;
  list-style: none;
}

#documentation #sidebar ul ul {
  margin-left: 1.5rem;
}

#documentation #sidebar li {
  list-style-type: none;
}

#documentation #sidebar a {
  color: #333;
  position: relative;
  display: block;
  padding: 5px 7px;
  text-decoration: none;
}

#documentation #sidebar li a:hover {
  background-color: #ebebeb;
}

#documentation #content {
  top: 0;
  left: 230px;
  position: absolute;
}

#documentation .narrative {
  min-height: 100%;
  background-color: white;
}

#documentation .code {
  color: #c0c4c7;
  
  font-size: 1.6rem; 
  padding: 1.4rem 3rem 1rem 3rem;
}

#documentation .code pre {
  display: block;
  margin: 1rem 0 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: white;
  word-break: break-all;
  word-wrap: break-word;
  /** background-color: #2d3133; **/
  border: 0;
}

#documentation .narrative p > code {
  padding: 2px 4px;
  color: #678cac;
  color: #f9f9ec;
  color: #678cb1;
  background-color: #dfdfdf;
  border-radius: 4px;  
  font-size: 1.4rem;
  font-weight: 200;
}

#documentation .row {
  /** background-color: #fb00d2; **/
}

#documentation .row .code {
  background-color: #40464a;
}

/*
#documentation .row{
    overflow: hidden; 
}

#documentation [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
*/

#documentation .row {
    margin-bottom: 0.2rem;
}

/** See: http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height **/
@media (min-width: 970px) { /* this breaks responsiveness, so only allowed for larger devices */
  #documentation .row {
      display: table;
      margin-bottom: 0.7rem;
  }
  
  #documentation [class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: top;
  }
}

/*
 * Typography
 */

html {
  min-height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  min-height: 100%;
  display: block;
} 

body {
  
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

a {
  color: #4DA7F5;
}

#documentation #sidebar p,
#documentation #sidebar li {
  font-size: 1.4rem;
  line-height: 1.8;
}

#documentation #sidebar {
  font-family: Verdana;
  position: fixed;
}

#documentation #sidebar h5 {
  color: #69c;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: block;
  margin: 1.8rem auto 1rem auto;
  padding: 0;
}

/** Definition lists **/

#documentation dl dt {
  color: #e9efc0;
}

#documentation dl dd {
  margin-left: 2rem;
}

/** Section Anchors **/

#documentation .sectional {
  
  color: inherit !important;
  position: absolute;
  left: -0.5rem;
  opacity: 0;
  cursor: pointer;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

#documentation .narrative:hover .sectional {
  opacity: 0.8;
}

#documentation .fancydl dl {
  padding: 0.5rem;
}
#documentation .fancydl dt {
  float: left;
  clear: left;
  width: 10.0rem;
  text-align: right;
  font-weight: bold;
  color: #e9efc0;
}
#documentation .narrative dt {
  color: #eb660c;
}
#documentation .fancydl dt:after {
  content: ":";
}
#documentation .fancydl dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

