<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>{{site_title}}</title>

  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  <link href="/css/chosen.css" media="screen" rel="stylesheet" />
  <link href="/css/jquery-ui-custom.css" rel="stylesheet" />

</head>

<body lang="en">

  <header>
  </header>

  <div id="canvas">
        {{{body}}}
  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

</html>