<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{siteTitle}}</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
  <link href="/css/app.css" media="all" rel="stylesheet" />
</head>

<body lang="en">

  <header id="layout-marker">
    Layout Loaded
  </header>

  <div id="canvas" class="container">
        {{{body}}}
  </div>

</body>

<script src="/js/ios-orientationchange-fix.js"></script>
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</html>