<div id="sidebar" class="hidden-xs hidden-sm">
  <div class="header">
    {%  include logo.html %}
  </div>
  
  <nav>
      <h5>Quickstart</h5>
      <ul>
          <li>
              <a href="#bootstrapping-new-project">Bootstrapping New Project</a>
          </li>
          <li>
              <a href="#using-as-a-dependency">Using As a Dependency</a>
          </li>
          <li>
              <a href="#project-structure">Project Structure</a>
          </li>          
          <li>
              <a href="#docker-support">Docker Support</a>
          </li>
      </ul>
      <h5>Usage</h5>
      <ul>
          <li>
              <a href="#encapsulation">Encapsulated Modules</a>
          </li>
          <li>
              <a href="#environments">Customized Environments</a>
          </li>
          <li>
              <a href="#startup-scripts">Startup Scripts</a>
          </li>
          <li>
              <a href="#hot-reloading">Hot Reloading vs. Daemon-izing Script</a>
          </li>
          <li>
              <a href="#file-limits">File Limits</a>
          </li>
          


          <!-- <li>
              <a href="#charges">Menu Item 1</a>
              <ul >
                  <li><a href="#">Submenu item12</a></li>
                  <li><a href="#">Submenu item13</a></li>
                  <li><a href="#">Submenu item14</a></li>
                  <li><a href="#">Submenu item15</a></li>
              </ul>
        </li>-->
      </ul>
   </nav>
</div>