<div id="sidebar">
  <div class="header">
    <div id="logo">
      <span style="color: #80BD01">Node</span><span style="color: #48A5F8">Bootstrap</span>  
    </div>
  </div>
  
  <nav>
      <h5>Quickstart</h5>
      <ul >
          <li>
              <a href="#install-bt">Bootstrapping New Project</a>
          </li>
          <li>
              <a href="#install-dep">Using As a Dependency</a>
          </li>
          <li>
              <a href="#docker">Docker Support</a>
          </li>
          <li>
              <a href="#config">Configuration</a>
          </li>
      </ul>
      <h5>Using</h5>
      <ul >
          <li>
              <a href="#charges">Menu Item 1</a>
              <ul >
                  <li><a href="#">Submenu item12</a></li>
                  <li><a href="#">Submenu item13</a></li>
                  <li><a href="#">Submenu item14</a></li>
                  <li><a href="#">Submenu item15</a></li>
              </ul>
          </li>
          <li>
              <a href="#">Menu Item 2</a>
              <ul >
                  <li><a href="#">Submenu item21</a></li>
                  <li><a href="#">Submenu item22</a></li>
                  <li><a href="#">Submenu item23</a></li>
                  <li><a href="#">Submenu item24</a></li>
              </ul>
          </li>
      </ul>
   </nav>
</div>