<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{title}}</title>
    
    <!-- Please don't add "maximum-scale=1" here. It's bad for accessibility. -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
    
    <link rel="stylesheet" href="prettify/prettify.css"/>
    
    <link rel="stylesheet" href="css/documentation.css"/>
    <link rel="stylesheet" href="css/homepage.css"/>
    <link rel="stylesheet" href="css/sons-of-obsidian.css"/>

    <link rel="shortcut icon" href="/favicon.ico">
    
  </head>

  {{content}}
    
</html>