---
layout: base
title: NodeBootstrap Reference
---

  <body id="documentation" data-proglang="node">
    
    {% include sidebar.html %}
    
    {% comment %} 
    {% include sidebar-small-screen.html %}
    {% endcomment %} 
    
    <div id="content">
      <div class="container-fluid">
        <div class="row top-bar">
          <div class="col-md-6 narrative"></div>
          <div class="col-md-6 code"></div>
        </div>

        {{content}}  

      </div><!--// .container-->  
    </div>
  </body>
